# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
.packages
ios/Flutter/.symlinks
ios/Flutter/Flutter.podspec
ios/Pods/
ios/Runner.xcworkspace/
*.log
.metadata

# Python virtual env
**/venv/
**/.venv/

# archivos de configuracion
/assets/.env
/backend/.env
/linux/flutter/generated_plugin_registrant.cc
/linux/flutter/generated_plugins.cmake
/windows/flutter/generated_plugin_registrant.cc
/windows/flutter/generated_plugins.cmake
/macos/Flutter/GeneratedPluginRegistrant.swift

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Node.js (si lo usas en algún microservicio)
node_modules/
# Logs y temporales
*.log
tmp/
